@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%)
}

* {
  margin: 0;
}

body {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/bg-desktop.svg");
  background-color: var(--violet);
  padding: 60px;
}

#logo {
  width: 200px;
  margin-bottom: 80px;
}

#mockup {
  width: 700px;
}

#container {
  display: flex;
}

#content {
  padding: 60px 30px;
  color: white;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.75;
  margin: 20px auto;
}

button {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  color: var(--violet);
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 5px rgb(41, 41, 41);
}

#social-links {
  position: absolute;
  right: 60px;
  bottom: 30px;
  display: flex;
  width: 120px;
  justify-content: space-between;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 14px;
}

@media screen and (max-width: 450px) {
  body {
    text-align: center;
    padding: 40px;
  }

  #logo {
    width: 125px;
  }

  #container {
    flex-direction: column;
  }

  #mockup {
    width: 100%;
  }

  #content {
    margin-top: 40px;
    padding: 0;
  }

  h1 {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }

  #social-links {
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}
